backports.tarfile
fqdn
html5lib
importlib-metadata
inflect
isoduration
jaraco.collections
jsonpointer
jupyterlab
lxml
mouseinfo
mplfinance
odfpy
openpyxl
pip-chill
pip-review
pygetwindow
pymsgbox
pyscreeze
pyside6
pytweening
tinycss2
tomli
typer
uri-template
webcolors
xlrd
yfinance
