backports.tarfile
fqdn
importlib-metadata
inflect
isoduration
jaraco.collections
jsonpointer
jupyterlab
mouseinfo
mplfinance
openpyxl
pip-chill
pip-review
pygetwindow
pymsgbox
pyscreeze
pyside6
pytweening
tinycss2
tomli
uri-template
webcolors
xlrd
yfinance
